$someColor : wheat;
$jumboColor : rgba(20,30,20,.3);
$font : 'Dancing Script', cursive;


body, html, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

html {
    opacity: 0;
}

body {
  background: url("../images/heart.JPG") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.navbar-fixed-top {

  background-color: rgba(0,0,0,.2);
  background-image: url('../images/rain.jpg');
  opacity: .6;
  transition: opacity .5s;
    h1 {

      font-family: 'Dancing Script', sans-serif;
      margin-top: 4px;
      color:rgba(0,0,0,0);
      transition: color 2s;
      &:hover{

          color: white;

      }
    }

    &:hover {

      opacity: 1;

    };
}
a {
  color: grey;
}

.wrapper span {
  font-size: 60px;
  position: fixed;
  top: 145px;
}

.sidebar-nav {
  position: fixed;
  top: 60px;
  background-color: #447684;
  background-image: url('../images/rain.jpg');
  padding: 30px 15px;
  left: -60px;
  opacity: .1;
  border: .5px solid grey;
  z-index: 100;
  transition: left 1s, opacity 1s, border 1s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  li {
    list-style: none;
    padding: 4px 0;
    transition: opacity 2s;
    a:hover {
      color: white;
      text-decoration: none;
    }
  }
  &:hover {
    left: -2px;
    opacity: 1;
  }
}

.jumbotron {

  display: none;
  background: url('../images/landscape.JPG') center center;
  margin-top: 100px;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 4px 4px 10px black;
  transition: opacity .5s;

  &:hover {
    opacity: 1 !important;
  }
    h2 {

      color: white;
    }
      img {

        margin: 10px 0;
        border-radius: 10px;
        box-shadow: 4px 4px 10px black;

      }
}


.navbar-fixed-bottom {
  background-color: rgba(0,0,0,.2);
  background-image: url('../images/rain.jpg');
  opacity: .6;
  transition: opacity .5s;

   &:hover {

      opacity: 1;

    };
}
