body, html, h1, h2, h3 {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../images/heart.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 40px;
  /*min-height: 2000px;*/ }

a {
  color: #550c00; }

#signature {
  color: white;
  font-family: "Dancing Script", cursive; }

.wrapper span {
  font-size: 60px;
  position: fixed;
  top: 145px; }

.sidebar-nav {
  position: fixed;
  top: 60px;
  background-color: #447684;
  padding: 30px 15px;
  left: -60px;
  opacity: .1;
  border: .5px solid grey;
  z-index: 100;
  transition: left 1s, opacity 1s, border 1s; }
  .sidebar-nav li {
    list-style: none;
    padding: 4px 0;
    transition: opacity 2s; }
    .sidebar-nav li a:hover {
      color: white;
      text-decoration: none; }
  .sidebar-nav:hover {
    left: -2px;
    opacity: 1; }

.navbar {
  /*background-color: #ffb6aa;*/
  background-color: rgba(0, 0, 0, 0.2);
  /*border-color: #ffe6aa; */
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  /*height: 20px;*/ }

.jumbotron {
  position: relative;
  top: 60px;
  margin-bottom: 100px;
  color: #41002C;
  background-image: url("../images/rain.jpg");
  background-attachment: fixed;
  opacity: .8; }
  .jumbotron span {
    height: 65px;
    width: 70px;
    color: black; }
    .jumbotron span:hover {
      color: purple; }

.navbar-fixed-bottom {
  background-color: rgba(20, 30, 20, 0.3);
  border-top: 1px solid #ffe6aa; }

.col-lg-3 {
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  border: 2px solid #6b939f;
  border-radius: 10px;
  transition: background-color .5s; }
  .col-lg-3:hover {
    background-color: pink; }

.navbar-container p:hover {
  font-size: 3em; }
