body, html, h1, h2, h3 {
  margin: 0;
  padding: 0; }

body {
  background-color: #6b939f;
  margin-bottom: 40px; }

a {
  color: #550c00; }

h1 {
  color: #550c00; }

.wrapper span {
  font-size: 60px;
  position: fixed;
  top: 145px; }

.sidebar-nav {
  position: fixed;
  top: 60px;
  background-color: #447684;
  padding: 30px 15px;
  left: -60px;
  opacity: .1;
  border: .5px solid grey;
  transition: left 1s, opacity 1s, border 1s; }
  .sidebar-nav li {
    list-style: none;
    padding: 4px 0;
    transition: opacity 2s; }
    .sidebar-nav li a:hover {
      color: white;
      text-decoration: none; }

.sidebar-nav:hover {
  left: -2px;
  opacity: 1; }

.navbar {
  background-color: #ffb6aa;
  border-color: #ffe6aa; }

.jumbotron {
  top: 200px;
  background-color: #ffe6aa;
  color: #550c00; }
  .jumbotron span {
    height: 65px;
    width: 70px;
    color: black; }
  .jumbotron span:hover {
    color: purple; }

.navbar-fixed-bottom {
  background-color: #ffb6aa;
  border-top: 1px solid #ffe6aa; }

.col-lg-3 {
  margin-bottom: 40px;
  background-color: #ffb6aa;
  padding: 20px 0;
  border: 2px solid #6b939f;
  border-radius: 10px; }
  .col-lg-3:hover {
    background-color: white; }

.navbar-container p:hover {
  font-size: 3em; }
