/*
Syntax error: Invalid property: "Backtrace:" (no value).
        on line 4 of style.css

1: /*
2: Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss
3: 
4: Backtrace:
5: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `read'
6: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'
7: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
8: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
9: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'

Backtrace:
style.css:4
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:737:in `parse_property'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:699:in `parse_property_or_rule'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:665:in `parse_line'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:543:in `build_tree'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:562:in `block in append_children'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:561:in `each'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:561:in `append_children'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:412:in `_to_tree'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \"Backtrace:\" (no value).\A         on line 4 of style.css\A \A 1: /*\A 2: Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss\A 3: \A 4: Backtrace:\A 5: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `read'\A 6: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:369:in `update_stylesheet'\A 7: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'\A 8: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'\A 9: /Users/Matthew/.rvm/gems/ruby-2.1.1/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'"; }
